<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="homefragment :: html_head"/>

<body>

<nav th:replace="homefragment :: header"/>

<form class="contact" action="/contact/send" modelAttribute="message">
    <fieldset class="contact-inner">
        <div th:if="${msg != null}">
            <span style="color: green" th:text="${msg}"/>
        </div>

        <p class="contact-input">
            <input type="text" name="name" placeholder="Your Name…" autofocus>
        </p>

        <p class="contact-input">
            <input type="text" name="email" placeholder="Your Email…" autofocus>
        </p>

        <p class="contact-input">
            <label for="select" class="select">
                <select name="subject" id="select">
                    <option value="" selected>Choose Subject…</option>
                    <option value="I have a suggestion">I have a suggestion</option>
                    <option value="I found a bug">I found a bug</option>
                    <option value="Other">Other</option>
                </select>
            </label>
        </p>

        <p class="contact-input">
            <textarea name="body" placeholder="Your Message…"></textarea>
        </p>

        <p class="contact-submit">
            <input type="submit" value="Send Message">
        </p>
    </fieldset>
</form>

<!-- Footer-->
<footer th:replace="homefragment :: footer"/>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>


