<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment :: html_head"/>

<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav th:replace="fragment :: header"/>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav th:replace="fragment :: menu"/>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <form action="#" method="post" th:object="${user}" th:action="@{/users/update-user/{id}(id = ${user.id})}">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input class="form-control" id="email" th:field="*{email}" type="text" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstName">First Name</label>
                            <input class="form-control" id="firstName" th:field="*{firstName}" type="text" required minlength="2" maxlength="40">
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="lastName">Last Name</label>
                            <input class="form-control" id="lastName" th:field="*{lastName}" type="text" required minlength="2" maxlength="40">
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="designation">Designation</label>
                            <input class="form-control" id="designation" th:field="*{designation}" type="text" required minlength="2" maxlength="20">
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>User Role</label>
                            <div>
                                <select class="select"  th:field="*{userRole}">
                                    <option value="User">User</option>
                                    <option value="Admin">Admin</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit">Update</button>
                </form>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer th:replace="fragment :: footer"/>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
</body>

</html>




